body, html, * {
    padding: 0px;
    margin: 0px;
}
#hijacked-experience {
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
    padding: 50px 0px;    
}
.hijacked-container {
    width: 	1140px;
    margin: 0px auto;
    position: relative;
    overflow: hidden;
}
.hijacked-container-content {
    text-align: center;
    margin-bottom: 30px;
}
.hijacked-h1 {
    font-weight: 700;
    font-size: 38px;
    margin: 0px 0px 15px 0px;
    padding: 0px;
    color: #000;
}
.hijacked-h3 {
    font-weight: 400;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
    color: #888;
}
.hijacked-products-container {
    position: relative;
    overflow: hidden;
}
.hijacked-product {
    background: #fff;
    width: 260px;
    border-radius: 3px;
    overflow: hidden;
    float: left;
    margin: 20px 10px;
    box-shadow: 0 7px 20px -11px rgb(150 170 180 / 80%);
}
.hijacked-production-img {
    height: 125px;
    overflow: hidden;
}
.hijacked-production-img img {
    position: relative;
    top: -40px;
}
.hijacked-product-detail {
    padding: 40px 20px;
    line-height: 22px;
}
.hijacked-product-title {
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 20px;
    margin-top: 0px;
    color: #00945f;
}
.hijacked-product-p {
    font-size: 14px;
    color: #666;
}
.hijacked-product-a {
    text-decoration: none;
    margin-top: 30px;
    padding: 10px 15px;
    display: block;
    background: #008555;
    border-radius: 3px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
    position: relative;
}
.fa-solid.fa-angle-right {
    position: absolute;
    right: 10px;
    font-size: 22px;
}
a.hijacked-product-a:hover {
    background: #006c45;
    color: #fff;
}
.hj-learn-more-btn {
    display: inline-block;
    background: #fff;
    text-decoration: none;
    color: #008555;
    letter-spacing: .5px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 3px;
    width: 200px;
    padding: 15px 0px;
    margin-top: 25px;
    margin-bottom: 0px;
    border: 1px solid #ddd;
    text-transform: uppercase;
}
a.hj-learn-more-btn:hover {
    background: #008555;
    border-color: #008555;
    color: #fff;
}
section.dcom-section-title-global__section {
    display: none;
}
a.hijacked-product-a:visited {
    color: #fff;
}
@media (max-width: 1140px) {
    .hijacked-container {
        width: 960px;
    }
    .hijacked-product {
        width: 320px;
        margin-top: 5px;
    }
    .hijacked-product-p {
        font-size: 15px;
    }
    .hijacked-product-detail {
        padding: 40px 40px;
    }
    .hijacked-products-container {
        width: 680px;
        margin: 0 auto;
    }
}
@media (max-width: 992px) {
    .hijacked-container {
        width: 720px;
    }
    .hijacked-h1 {
        font-size: 35px;
    }
    .hijacked-h3 {
        font-size: 20px;
    }
}
@media (max-width: 720px) {
    .hijacked-container {
        width: 320px;
    }
    .hijacked-h1 {
        font-size: 28px;
    }
    .hijacked-h3 {
        font-size: 17px;
    }
    .hijacked-products-container {
        width: 100%;
    }
    .hijacked-product {
        width: 300px;
    }
}
